extends layout

block content
    .row.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
        a(href="/")
            button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
        h2
            span.glyphicon.glyphicon-log-in
            |  User Profile

        if error.length > 0
            // show any error messages that come back with authentication
            .alert.alert-danger #{error}

        if info.length > 0
            // show any informational messages that come back with authentication
            .alert.alert-info #{info}

        if success.length > 0
            // show any alert messages that come back with authentication
            .alert.alert-success #{success}

        // LOGIN FORM
        form(action="/profile" method="post")
            .form-group
                label(for="user-email") Email (Account Name)
                input.form-control#user-email(type="email" name="email" placeholder="user@example.com" value="#{user.local.email}")
            .form-group
                label(for="user-first-name") First Name
                input.form-control#user-first-name(type="text" name="firstName" placeholder="First Name" value="#{user.firstName}")
            .form-group
                label(for="user-last-name") Last Name
                input.form-control#user-last-name(type="text" name="lastName" placeholder="Last Name" value="#{user.lastName}")
            .form-group
                label(for="user-password") Password
                input.form-control#user-password(type="password" name="password" placeholder="New Password")
            .form-group
                label(for="user-confirm") Confirm Password
                input.form-control#user-confirm(type="password" name="confirm" placeholder="Confirm Password")

            button.btn.btn-primary.btn-lg.btn-spaced#user-change-profile(type="submit") Update Profile
            a(href="/")
                button.btn.btn-primary.btn-lg.btn-spaced(type="button") Cancel
